<h1>Tu będą zamówienia</h1>

<button (click)="onDodaj()">Dodaj nowe</button>

<table>
  <thead>
    <tr>
      <td>Nazwa</td>
      <td></td>
      <td></td>
      <td>Data końca zamówienia</td>
    </tr>
  </thead>
  <tbody *ngFor="let zamowienie of zamowienia | async;">
    <tr>
      <td>
        {{zamowienie.nazwa}}
      </td>
      <td><a [routerLink]="['/zamowienie', zamowienie.id]" >Szczegóły</a></td>
      <td><button [routerLink]="['/zamowienie-produkty', zamowienie.id]">Zamów</button></td>
      <td>Data {{zamowienie.DataKonca}} końca</td>
    </tr>
    <!--<p>
      <label> Zamówienie: </label>
      {{zamowienie.nazwa}}
    </p>-->
  </tbody>
</table>
