<h3>Dodawania zamówienia</h3>
<div class="container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class=" form-horizontal">

      <div class="form-group">
        <app-form-label [controlID]="'nazwa'" [text]="'Nazwa'"></app-form-label>

        <div class="col-md-5">
          <input id="nazwa" type="text" formControlName="nazwa" required>

          <app-validation-info [control]="checkoutForm.controls.nazwa" [controlLabel]="'Nazwa'">
          </app-validation-info>
        </div>
      </div>

      <div class="form-group">
        <app-form-label [controlID]="'data_konca'" [text]="'Data końca zamawiania'"></app-form-label>

        <div class="col-md-5">
          <input id="data_konca" type="text" [matDatepicker]="data_konca" formControlName="data_konca" required>
          <mat-datepicker-toggle [for]="data_konca"></mat-datepicker-toggle>
          <mat-datepicker #data_konca></mat-datepicker>

          <app-validation-info [control]="checkoutForm.controls.data_konca"
                               [controlLabel]="'Data końca'"
                               [validationErrorsFunctions]="dataKoncaValidationErrors">
          </app-validation-info>
        </div>
      </div>

      <div class="form-group">
        <app-form-label [controlID]="'file2'" [text]="'Excel z definicją zamówienia'"></app-form-label>
        <div class="col-md-5">
          <app-file-upload #file1 (uploaded)="onFileLoaded()" [id]="'file2'"></app-file-upload>
        </div>
      </div>

      <button class="button" type="submit" [disabled]="!checkoutForm.valid">Dodaj</button>
    </div>
  </form>

</div>
